.prose-root {
  white-space: normal;
}

.prose-root > :first-child {
  margin-top: 0;
}

.prose-root ul,
.prose-root ol {
  padding: unset;
  margin: unset;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose-root li {
  padding-left: 1.75em;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose-root li::before {
  content: '';
  position: absolute;
  background-color: #111827;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}

.prose-root h3 {
  margin-bottom: 0.6em;
  font-size: 1.25em;
  font-weight: 600;
  color: #111827;
  line-height: 1.6;
}

.prose-root p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose-root hr {
  border-color: #e5e7eb;
  border-top-width: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prose-root h3 + * {
  margin-top: 0;
}

.prose-root meta + * {
  margin-top: 0;
}